@import url('https://fonts.googleapis.com/css2?family=Lora&family=Rubik&display=swap');

body {
    margin: 0px;
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.125rem;
    color: #4D4D4D;
    margin: 0px;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 64px;
    color: #FE7D56;
    margin-top: 0px;
    margin-bottom: 32px;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 52px;
    color: #FE7D56;
}

.presentacion {
    padding: 79px 0px 79px 0px;
    background-color: #F6F5F1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img-perfil img {
    height: 350px;
    margin: 0px 80px 0px 40px;
}

.texto-presentacion {
    max-width: 45rem;
    margin-right: 40px;
    
}

.separador-presentacion {
    position: absolute;
    right: 0;
}

.formaciones {
    padding: 50px 0px 50px 0px;
    background-color: #ECE7E1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.ilu-formaciones img {
    margin: 0px 80px 0px 40px;
    width: 480px;
}

.texto-formacion {
    max-width: 45rem;
    margin-right: 40px;
}

.texto-formacion h2 {
    margin-top: 0;
}

.intereses {
    padding: 57px 141px 100px 200px;
    background-color: #F6F5F1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.ilu-intereses img {
    margin: 0px 40px 0px 40px;
    width: 420px;
}

.texto-intereses {
    max-width: 45rem;
    margin-right: 40px;
}

.formas-intereses {
    position: absolute;
    left: 0px;
}

.actualidad {
    padding: 57px 188px 57px 60px;
    background-color: #ECE7E1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.ilu-actualidad img {
    margin: 0px 80px 0px 40px;
    width: 425px;
}

.formas-actualidad {
    position: absolute;
    right: 0;
    
}

.texto-actualidad {
    max-width: 45rem;
    margin-right: 40px;
}


/* @media only screen and (min-width: 1200px) {
    h1 {
        font-family: 'Lora', serif;
        font-size: 64px;
        color: blue;
        margin-top: 0px;
        margin-bottom: 32px;
    }
}
 */

@media only screen and (max-width: 425px) {

    p {
        font-size: 18px;
        margin-top: 32px;
    }
    
    h1 {
        font-size: 38px;
        margin-bottom: 8px;
    }

    h2 {
        font-size: 38px;
        margin-bottom: 8px;
    }

    .presentacion {
        flex-direction: column;
        align-items: center;
        padding: 32px 16px 32px 16px;
    }

    .img-perfil img{
        height: 350px;
    }

    .texto-presentacion {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 350px;
        margin-right: 0px;
    }

    .formas-perfil {
        right:0px;
    }

    .separador-presentacion {
        display: none;
    }

    .formaciones {
        flex-direction: column;
        align-items: center;
        padding: 32px 16px 32px 16px;
        overflow: hidden;
    }

    .ilu-formaciones img {
        width: 350px;
        
    }

    .texto-formacion {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 350px;
        margin-right: 0px;
    }

    .texto-formacion h2 {
        margin-top: 2.5rem;
    }

    .intereses {
        flex-direction: column-reverse;
        align-items: center;
        padding: 32px 16px 32px 16px;
        overflow: hidden;
    }

    .ilu-intereses img {
        padding-top: 36px;
        width: 350px;   
    }

    .texto-intereses {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 350px;
        margin-right: 0px;
    }

    .formas-intereses{
        display: none;
    }

    .actualidad {
        flex-direction: column;
        align-items: center;
        padding: 32px 16px 32px 16px;
        overflow: hidden;
    }

    .ilu-actualidad img {
        width: 350px;   
    }

    .texto-actualidad {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 350px;
        margin-right: 0px;
    }

    .formas-actualidad{
        display: none;
    }



}