@import url('https://fonts.googleapis.com/css2?family=Lora&family=Rubik&display=swap');

body {
    margin: 0px;
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.125rem;
    color: #4D4D4D;
    margin: 0px;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 64px;
    color: #FE7D56;
    margin-top: 0px;
    margin-bottom: 32px;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 52px;
    color: #FE7D56;
}

.presentacion-container {
    background-color: #F6F5F1;
    display: flex;
    justify-content: center;
    padding: 2.5rem 0px;
}
.presentacion-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    max-width: 1200px;
}

.img-perfil img {
    height: 350px;
    margin: 0px 80px 0px 40px;
}

.texto-presentacion {
    max-width: 45rem;
    margin-right: 40px;
    
}

.separador-presentacion {
    position: absolute;
    right: 0;
}

.formaciones-container {
    padding: 2.5rem 0px;
    background-color: #ECE7E1;
    display: flex;
    justify-content: center;
}

.formaciones-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    max-width: 1200px;
}

.ilu-formaciones img {
    margin: 0px 80px 0px 40px;
    width: 480px;
}

.texto-formacion {
    max-width: 45rem;
    margin-right: 40px;
}

.texto-formacion h2 {
    margin-top: 0;
}

.intereses-container {
    background-color: #F6F5F1;
    display: flex;
    justify-content: center;
    padding: 2.5rem 0px;
    position: relative;
}

.intereses-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    max-width: 1200px;
}

.ilu-intereses img {
    margin: 0px 40px 0px 40px;
    width: 420px;
}

.texto-intereses {
    max-width: 45rem;
    margin: 0px 40px;
}

.formas-intereses img {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 125px;
}

.actualidad-container {
    background-color: #ECE7E1;
    display: flex;
    justify-content: center;
    padding: 2.5rem 0px;
    position: relative;
}

.actualidad-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    max-width: 1200px;
}

.ilu-actualidad img {
    margin: 0px 80px 0px 40px;
    width: 425px;
}

.formas-actualidad {
    position: absolute;
    right: 0;
    
}

.texto-actualidad {
    max-width: 45rem;
    margin-right: 40px;
}

.contacto-container {
    background-color: #F6F5F1;
    display: flex;
    justify-content: center;
    padding: 2.5rem 0px;
    position: relative;
}

.contacto-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    max-width: 1200px;
}

.texto-contacto {
    max-width: 500px;
    margin-right: 60px;
}

.btn-wpp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FE7D56;
    border-radius: 50px;
    border-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: white;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin: 2rem 2rem 2rem 0rem;
}

.btn-wpp a {
    margin: 0px;
    padding: 0px;
    color: #F6F5F1;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

.btn-wpp img {
    margin-right: 1rem;
}

.contacto-facebook{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contacto-facebook img {
    margin: 1rem 1rem 1rem 0rem;
}

.contacto-facebook a {
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    color: #FE7D56;
    max-width: 350px;
    text-decoration: none;
    font-weight: 800;
}

.ilu-contacto img {
    width: 600px;
}


@media only screen and (max-width: 425px) {

    p {
        font-size: 18px;
        margin: 32px 10px 0px 10px;
        text-align: justify;
    }
    
    h1 {
        font-size: 38px;
        margin-bottom: 8px;
    }

    h2 {
        font-size: 38px;
        margin-bottom: 8px;
    }

    .presentacion-content {
        flex-direction: column;
        align-items: center;
        padding: 32px 16px 32px 16px;
    }

    .img-perfil img{
        height: 300px;
        margin: 0;
    }

    .texto-presentacion {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 350px;
        margin-right: 0px;
    }

    .formas-perfil {
        right:0px;
    }

    .separador-presentacion {
        display: none;
    }

    .formaciones-content {
        flex-direction: column;
        align-items: center;
        padding: 32px 16px 32px 16px;
        overflow: hidden;
    }

    .ilu-formaciones img {
        width: 350px;
        margin: 0;
        
    }

    .texto-formacion {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 350px;
        margin-right: 0px;
    }

    .texto-formacion h2 {
        margin-top: 2.5rem;
    }

    .intereses-content {
        flex-direction: column-reverse;
        align-items: center;
        padding: 32px 16px 32px 16px;
        overflow: hidden;
    }

    .ilu-intereses img {
        padding-top: 36px;
        width: 350px;   
        margin: 0;
    }

    .texto-intereses {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 350px;
        margin-right: 0px;
    }

    .formas-intereses{
        display: none;
    }

    .actualidad-content {
        flex-direction: column;
        align-items: center;
        padding: 32px 16px 32px 16px;
        overflow: hidden;
    }

    .ilu-actualidad img {
        width: 350px;   
        margin: 0;
    }

    .texto-actualidad {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 350px;
        margin-right: 0px;
    }

    .formas-actualidad{
        display: none;
    }

    .contacto-content {
        flex-direction: column;
        align-items: center;
        padding: 32px 16px 32px 16px;
        overflow: hidden;
    }

    .ilu-contacto img {
        width: 350px;
        margin: 0;
    }

    .texto-contacto {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 350px;
        margin-right: 0px;
    }

    .texto-contacto p {
        text-align: center;
    }

    .texto-contacto h2 {
        margin-top: 2.5rem;
    }

    .btn-wpp {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #FE7D56;
        border-radius: 50px;
        border-color: transparent;
        font-family: 'Roboto', sans-serif;
        font-size: 1.7rem;
        font-weight: 800;
        padding: 1rem 1.5rem 1rem 1.5rem;
        margin: 2rem 2rem 0rem 0rem;
    }

    .contacto-facebook{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .contacto-facebook a {
        font-size: 1.5rem;
        font-family: 'Rubik', sans-serif;
        color: #FE7D56;
        max-width: 350px;
        text-decoration: none;
        font-weight: 800;
        text-align: center;
        margin-bottom: 2rem;
    }
}